<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruike.hme.infra.mapper.HmeTagCheckMapper">

    <select id="querySnMaterialLotCodeJobList" resultType="com.ruike.hme.domain.vo.HmeTagCheckVO">
        SELECT
            ejs.job_id,
            ejs.site_out_date,
            ejs.material_lot_id,
        	ejs.workcell_id,
            mor.PARENT_ORGANIZATION_ID process_id,
            mml.MATERIAL_LOT_CODE,
            mml.MATERIAL_ID,
            mm.MATERIAL_CODE,
            mm.MATERIAL_NAME
        FROM
        	hme_eo_job_sn ejs,
            mt_mod_organization_rel mor,
            <if test="queryVO.materialCodeList != null and queryVO.materialCodeList.size() > 0">
                mt_material smm,
            </if>
        	<if test="queryVO.workOrderNumList != null and queryVO.workOrderNumList.size() > 0">
                mt_eo me,
                mt_work_order wo,
            </if>
        	mt_material_lot mml,
        	mt_material mm
        WHERE ejs.tenant_id = #{tenantId}
        AND ejs.site_out_date is NOT NULL
        <if test="queryVO.materialCodeList != null and queryVO.materialCodeList.size() > 0">
            AND smm.MATERIAL_ID = ejs.sn_material_id
            AND smm.MATERIAL_CODE IN
            <foreach collection="queryVO.materialCodeList" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="queryVO.workOrderNumList != null and queryVO.workOrderNumList.size() > 0">
            AND me.EO_ID = ejs.eo_id
            AND wo.WORK_ORDER_ID = me.WORK_ORDER_ID
            AND wo.WORK_ORDER_NUM IN
            <foreach collection="queryVO.workOrderNumList" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        AND mml.MATERIAL_LOT_ID = ejs.material_lot_id
        <if test="queryVO.materialLotCodeList != null and queryVO.materialLotCodeList.size() > 0">
            AND mml.MATERIAL_LOT_CODE IN
            <foreach collection="queryVO.materialLotCodeList" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        AND mm.MATERIAL_ID = mml.MATERIAL_ID
        AND mor.TOP_SITE_ID = #{siteId}
        AND mor.PARENT_ORGANIZATION_TYPE = 'WORKCELL'
        AND mor.ORGANIZATION_TYPE = 'WORKCELL'
        AND mor.ORGANIZATION_ID = ejs.workcell_id
        AND mor.TENANT_ID = #{tenantId}
    </select>

    <select id="queryTagCheckList" resultType="com.ruike.hme.domain.vo.HmeTagCheckVO3">
        SELECT
        	crh.item_group_id,
        	crl.source_workcell_id,
        	crl.tag_id,
        	mt.tag_code,
        	mt.tag_description,
        	mmw.workcell_code process_code,
        	mmw.workcell_name process_name
        FROM
        	hme_tag_check_rule_header crh,
        	hme_tag_check_rule_line crl,
        	mt_mod_workcell mmw,
        	mt_tag mt
        WHERE crh.tenant_id = #{tenantId}
        AND crh.header_id IN
        <foreach collection="queryVO.ruleHeaderIdList" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
        AND crl.header_id = crh.header_id
        AND crl.enable_flag = 'Y'
        AND mmw.WORKCELL_ID = crl.source_workcell_id
        AND mt.TAG_ID = crl.tag_id
    </select>

    <select id="queryRecordResult" resultType="com.ruike.hme.domain.vo.HmeTagCheckVO5">
        SELECT
            jdr.job_id,
            jdr.tag_id,
            jdr.result
        FROM
            hme_eo_job_data_record jdr
        WHERE jdr.tenant_id = #{tenantId}
        AND (jdr.job_id, jdr.tag_id) IN
        <foreach collection="tagCheckVOList" item="item" index="index" open="(" close=")" separator=",">
            (#{item.jobId}, #{item.tagId})
        </foreach>
    </select>

    <select id="queryItemGroupMaterialByHeaderId" resultType="java.lang.String">
        SELECT
        	mmb.MATERIAL_ID
        FROM
            hme_tag_check_rule_header crh,
            wms_item_group wig,
            mt_material_basic mmb
        WHERE crh.tenant_id = #{tenantId}
        AND crh.header_id IN
        <foreach collection="ruleHeaderIdList" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
        AND wig.item_group_id = crh.item_group_id
        AND mmb.ITEM_GROUP = wig.item_group_code
    </select>

    <select id="queryCmbMaterialLotCodeList" resultType="com.ruike.hme.domain.vo.HmeTagCheckVO">
        SELECT
            ejs.site_out_date,
        	ejs.material_lot_id,
            mml.material_lot_code,
            mm.material_code,
            mm.material_name,

            ejm.material_lot_id component_material_lot_id,
            ejm.material_lot_code component_material_lot_code,
            ejm.material_id component_material_id,
        	cmm.material_code component_material_code,
        	cmm.material_name component_material_name
        FROM
        	hme_eo_job_sn ejs,
            <if test="queryVO.materialCodeList != null and queryVO.materialCodeList.size() > 0">
                mt_material smm,
            </if>
        	mt_material_lot mml,
        	mt_material mm,
            <if test="queryVO.workOrderNumList != null and queryVO.workOrderNumList.size() > 0">
                mt_eo me,
                mt_work_order wo,
            </if>
        	hme_eo_job_material ejm
        	LEFT JOIN mt_material cmm ON cmm.material_id = ejm.material_id
        WHERE ejs.tenant_id = #{tenantId}
        <if test="queryVO.materialCodeList != null and queryVO.materialCodeList.size() > 0">
            AND smm.MATERIAL_ID = ejs.sn_material_id
            AND smm.MATERIAL_CODE IN
            <foreach collection="queryVO.materialCodeList" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        AND mml.MATERIAL_LOT_ID = ejs.material_lot_id
        <if test="queryVO.materialLotCodeList != null and queryVO.materialLotCodeList.size() > 0">
            AND mml.MATERIAL_LOT_CODE IN
            <foreach collection="queryVO.materialLotCodeList" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        AND mm.MATERIAL_ID = mml.MATERIAL_ID
        <if test="queryVO.workOrderNumList != null and queryVO.workOrderNumList.size() > 0">
            AND me.EO_ID = ejs.eo_id
            AND wo.WORK_ORDER_ID = me.WORK_ORDER_ID
            AND wo.WORK_ORDER_NUM IN
            <foreach collection="queryVO.workOrderNumList" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        AND ejm.job_id = ejs.job_id
        AND ejm.tenant_id = #{tenantId}
        AND ejm.release_qty > 0
        AND ejm.is_issued = 1
        AND cmm.material_id IN
        <foreach collection="materialIdList" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="queryCmbMaterialLotCodeJobList" resultType="com.ruike.hme.domain.vo.HmeTagCheckVO">
        SELECT
        ejs.job_id,
        ejs.site_out_date,
        ejs.material_lot_id,
        ejs.workcell_id,
        mor.PARENT_ORGANIZATION_ID process_id
        FROM
        hme_eo_job_sn ejs,
        mt_mod_organization_rel mor
        WHERE ejs.tenant_id = #{tenantId}
        AND ejs.site_out_date is NOT NULL
        <if test="materialLotIdList != null and materialLotIdList.size() > 0">
            AND ejs.material_lot_id IN
            <foreach collection="materialLotIdList" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        AND mor.TOP_SITE_ID = #{siteId}
        AND mor.PARENT_ORGANIZATION_TYPE = 'WORKCELL'
        AND mor.ORGANIZATION_TYPE = 'WORKCELL'
        AND mor.ORGANIZATION_ID = ejs.workcell_id
        AND mor.TENANT_ID = #{tenantId}
    </select>
</mapper>